{% extends 'base.html.twig' %}
{% block body %}
    <h1>Articles with Tag "{{ tag.name }}"</h1>
    {% if articles.count %}
        <ol>
            {% for article in articles %}
                <li><a href="{{ path('show', {'slug': article.slug}) }}">{{ article.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>There is nothing here yet. </p>
    {% endif %}

{% endblock %}